<h1>Editing extraction</h1>

<%= render "edit_form", extraction: @extraction %>

<br>

<div>
  <%= link_to "Show this extraction", @extraction %> |
  <%= link_to "Back to extractions", extractions_path %>
</div>
